@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /**
   * Tailwind CSS theme
   * tailwind.config.ts expects the following color variables to be expressed as HSL values.
   * A different format will require also updating the theme in tailwind.config.ts.
  */
  :root {
    --background: 0 0% 100%;
    --foreground: 205 100% 15%;

    --card: 0 0% 100%;
    --card-foreground: 205 100% 15%;

    --popover: 0 0% 100%;
    --popover-foreground: 205 100% 15%;

    --primary: 198 100% 50%;
    --primary-foreground: 0 0% 100%;

    --secondary: 192 100% 93%;
    --secondary-foreground: 205 100% 15%;

    --muted: 194 100% 86%;
    --muted-foreground: 203 100% 29%;

    --accent: 196 100% 63%;
    --accent-foreground: 0 0% 100%;

    --destructive: 0 84% 60%;
    --destructive-foreground: 0 0% 100%;

    --border: 194 100% 86%;
    --input: 192 100% 93%;
    --ring: 198 100% 50%;

    --radius: 0.75rem;

    --sidebar-background: 205 100% 22%;
    --sidebar-foreground: 192 100% 93%;
    --sidebar-primary: 198 100% 50%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 203 100% 29%;
    --sidebar-accent-foreground: 192 100% 93%;
    --sidebar-border: 201 100% 36%;
    --sidebar-ring: 196 100% 63%;
  }

  .dark {
    --background: 205 100% 15%;
    --foreground: 192 100% 93%;

    --card: 203 100% 18%;
    --card-foreground: 192 100% 93%;

    --popover: 203 100% 18%;
    --popover-foreground: 192 100% 93%;

    --primary: 196 100% 63%;
    --primary-foreground: 205 100% 15%;

    --secondary: 201 100% 36%;
    --secondary-foreground: 192 100% 93%;

    --muted: 203 100% 29%;
    --muted-foreground: 194 100% 75%;

    --accent: 198 100% 50%;
    --accent-foreground: 0 0% 100%;

    --destructive: 0 74% 42%;
    --destructive-foreground: 192 100% 93%;

    --border: 201 100% 36%;
    --input: 203 100% 29%;
    --ring: 196 100% 63%;
    --sidebar-background: 207 100% 15%;
    --sidebar-foreground: 192 100% 93%;
    --sidebar-primary: 198 100% 50%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 205 100% 22%;
    --sidebar-accent-foreground: 192 100% 93%;
    --sidebar-border: 203 100% 29%;
    --sidebar-ring: 196 100% 63%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}
